<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" href="/css/background.css" rel="stylesheet">
    <link type="text/css" href="/css/product.css" rel="stylesheet">
    <link type="text/css" href="/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <meta charset="UTF-8">
    <title>Equipment</title>
</head>
<body class="w3-row">
    <div class="w3-col s1" style="height:100px">
        <div class="navbar w3-col s1">
            <a href="/manager/">
                <img th:src="@{/images/logo.png}"  class="w3-image" alt="Logo" src="">
            </a>
            <div class="subnav">
                <div class="subnav-content">
                    <a href="/">Home</a>
                    <a href="/booking/bookinginfo">Booking Information</a>
                    <a href="#" onclick="document.getElementById('createModal').style.display='block'">Add new equipment  <i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>
    </div>
        <div class="w3-col s11 w3-container w3-cell-row">
            <div class="w3-row">
                <div class="w3-col w3-container" style="width: 80%">
                    <h3 th:text="${activity.name}"></h3>
                        <table id="table1" class="w3-table w3-striped w3-bordered w3-hoverable w3-opacity-min">
                    <thead>
                    <tr class="w3-blue">
                        <!-- Table header with tiles -->
                        <th>Name</th>
                        <th>ID</th>
                        <th>Available</th>
                        <th>Comment</th>
                        <th>Availability</th>
                        <th></th>
                    </tr>
                    </thead>
                    <!-- table content -->
                    <tbody>
                    <tr th:each="equip: ${equipment}">
                        <td th:text="${equip.name}"></td>
                        <td th:text="${equip.getId()}"></td>
    <!--                    <td th:text="'Available: ' + ${equip.available} ? '0' : 'YES'"></td>-->
                        <td>
                            <span th:if="${equip.available == false}">no</span>
                            <span th:unless="${equip.available == false}">yes</span>
                        </td>
                        <td th:text="${equip.comment}"></td>
                        <td>
                            <button th:data-name="${equip.name}" th:data-available="${equip.available}" th:data-comment="${equip.comment}"
                                    th:data-id="${equip.id}" th:data-activity="${equip.getActivity().id}" class="w3-btn w3-round w3-green"
                                    onclick="modal(this.getAttribute('data-name'), this.getAttribute('data-available'),
                                    this.getAttribute('data-comment'), this.getAttribute('data-id'), this.getAttribute('data-activity'))">Update</button>
                        </td>
                        <td>
                            <a href="#" th:data-id="${equip.id}" th:data-activity="${equip.getActivity().id}"
                               onclick="showFunctionModal(this.getAttribute('data-id'), this.getAttribute('data-activity'))"
                               id="deleteButton" class="w3-btn w3-red w3-tiny"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class="w3-col w3-container"></div>
            </div>
        </div>
    <!-- Modals !-->
    <div class="w3-modal" id="createModal">
        <form action="#" th:action="@{/activity/{id}/equipment/new(id=${activity.id})}" th:object="${newEquipment}" method="post" class="w3-container">
            <div class="w3-modal-content" style="width: 30%">
                <header class="w3-container w3-blue">
                    <h2>Add new equipment</h2>
                </header>
                <div class="w3-panel">
                    <label>Name</label>
                    <input type="text" class="w3-input w3-border w3-round" th:field="*{name}" required>
                    <label>Available</label>
                    <input type="checkbox" th:field="*{available}" class="w3-check">
                    <p>
                        <label>Comment</label>
                        <input type="text" class="w3-input w3-border w3-round" th:field="*{comment}">
                    </p>
                    <div class="w3-center">
                        <div class="w3-bar">
                            <button type="submit" class="w3-btn w3-green">Save</button>
                            <button type="button" class="w3-btn w3-red" onclick="document.getElementById('createModal').style.display='none'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="deleteModal" class="w3-modal">
        <div class="w3-modal-content w3-center" style="width: 20%; top: 25%">
            <header class="w3-container w3-blue">
                <h2>Are you sure?</h2>
            </header>
            <div class="w3-panel">
                <div class="w3-bar">
                    <a href="#" id="delRef" class="w3-btn w3-red">Yes, delete</a>
                    <a class="w3-btn w3-grey" onclick="document.getElementById('deleteModal').style.display='none'">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div id="editModal" class="w3-modal">
    <form action="#" id="edit" method="post" class="w3-container">
        <div class="w3-modal-content" style="width: 30%">
            <header class="w3-container w3-blue">
                <h2>Update equipment</h2>
            </header>
            <div class="w3-panel">
                <label>ID</label>
                <input type="number" class="w3-input w3-border w3-round" readonly id="idInput" name="id" value="">
                <label>Name</label>
                <input type="text" class="w3-input w3-border w3-round" id="nameInput" name="name" value="" required>
                <label for="availableInput">Available</label>
                <select id="availableInput" name="available">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
<!--                    <input type="checkbox" class="w3-check w3-border w3-round" id="availableInput" name="available">-->
                <br/>
                <label>Comment</label>
                <input type="text" class="w3-input w3-border w3-round" id="commentInput" name="comment" value="">
                <input type="hidden" id="activityInput" name="activity" value="">
                <div class="w3-center">
                    <div class="w3-bar">
                        <button type="submit" id="editRef" class="w3-btn w3-green">Save</button>
                        <button type="button" class="w3-btn w3-red" onclick="document.getElementById('editModal').style.display='none'">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!-- end Modals !-->
    <!-- Scripts !-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
    <script>
    $('#table1').dataTable( {
        "pagingType": "full_numbers"
    } );
    </script>
    <script>
        function showFunctionModal(equipmentId, activityId) {
            $(document).ready(function () {
                document.getElementById('deleteModal').style.display = "block";
                $("#delRef").attr("href", "/activity/" + activityId + "/equipment/delete?id=" + equipmentId);
            });
        }
        function modal(name, available, comment, id, activity) {
            document.getElementById('editModal').style.display = "block";
            $("#nameInput").attr("value", name);
            $("#availableInput").attr("checked", available);
            $("#commentInput").attr("value", comment);
            $("#idInput").attr("value", id);
            $("#activityInput").attr("value", activity);
            $("#edit").attr("action", "/activity/" + activity + "/equipment/update")
        }
    </script>
    <!-- end Scripts !-->
</body>
</html>