<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" href="/css/background.css" rel="stylesheet">
    <link type="text/css" href="/css/masonry.css" rel="stylesheet">
    <link type="text/css" href="/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="w3-row w3-display-container">
<div class="w3-col s1" style="height:100px"></div>
<div class="navbar w3-col s1">
    <a href="/">
        <img th:src="@{/images/logo.png}" class="w3-image" alt="Logo">
    </a>
    <div class="subnav">
        <div class="subnav-content">
            <a href="/">Home</a>
            <a href="/manager/">Manager Home</a>
            <a href="/booking/bookinginfo">Booking Information</a>
            <a href="/statistics">Booking statistics</a>
            <a href="/manager/products/">Edit Products</a>
            <a href="/activity/create">Add New Activity</a>
        </div>
    </div>
</div>
<div class="w3-col s11 w3-container w3-cell-row">
    <div th:each="activity: ${activities}" class="backg w3-col w3-card-4 w3-margin s2 w3-center w3-cell w3-mobile">
        <img class="w3-image" src="" th:src="@{${'/images/' + activity.image}}" alt="Missing image">
        <h3 class="w3-card" style="margin-top: 0; backdrop-filter: blur(5px);" th:unless="${activity.name} == null" th:text="${activity.name}" ></h3>
        <table class="w3-table w3-bordered">
            <tr>
                <td class="tData"><strong>Age Requirement:</strong></td>
                <td class="tData" th:text = "${activity.getRules().ageLimit} ?: 'None'"></td>
            </tr>
            <tr>
                <td class="tData"><strong>Height Requirement: </strong></td>
                <td class="tData" th:text="${activity.getRules().heightLimit} ?: 'None'"></td>
            </tr>
            <tr>
                <td class="tData"><strong>Duration: </strong></td>
                <td class="tData" th:text="${activity.getRules().duration} ?: 'None'"></td>
            </tr>
            <tr>
                <td class="tData"><strong>Max Capacity: </strong></td>
                <td class="tData" th:text="${activity.getRules().maxCapacity} ?: 'None'"></td>
            </tr>
            <tr>
                <td class="tData"><strong>Price For 0-10 Persons: </strong></td>
                <td class="tData" th:text="${activity.getPricing().standard} ?: 'None'"></td>
            </tr>
            <tr>
                <td class="tData"><strong>Price for 10+ Persons: </strong></td>
                <td class="tData" th:text="${activity.getPricing().discount} ?: 'None'"></td>
            </tr>
            <tr>
                <td class="tData"><strong>Functional Equipment: </strong></td>
                <td class="tData" th:text="${activity.availableEquipment()} + '/' + ${activity.getEquipment()?.size()}"></td>
            </tr>
        </table>
        <div class="w3-row">
            <a th:href="'/manager/edit?id=' + ${activity.getId()}" class="w3-btn w3-bar w3-blue-grey" style="width: 100%;">Edit</a>
        </div>
    </div>
</div>
</body>
</html>