<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="/css/background.css" rel="stylesheet">
    <link type="text/css" href="/css/masonry.css" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif">
<div class="navbar">
    <a href="/">
        <img th:src="@{/images/logo.png}" alt="Logo">
    </a>
    <div class="subnav">
        <div class="subnav-content">
            <a href="/">Home</a>

        </div>
    </div>
</div>
<div class="container">
    <div th:each="product: ${products}" class="box w3-col">

        <img src="" th:src="@{${'/images/product/' + product.image}}" alt="Missing image">
        <h2 th:unless="${product.name == null}" th:text="${product.name}"></h2>
        <h2 th:if="${product.name == null}" th:text="Missing Name"></h2>
        <div style="padding: 2% 20% 5%">
            <p th:unless="${product.price == null}" th:text="'Price: ' + ${product.price} + ' DKK'"></p>
        </div>
    </div>
</div>
</body>
</html>