<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="/css/background.css" rel="stylesheet">
    <link type="text/css" href="/css/product.css" rel="stylesheet">
    <link type="text/css" href="/css/navbar.css" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#confirm').click(function () {
                document.getElementById('confirmModal').style.display = "block";
                setTimeout($('#emptyCart').submit(), 10000);
            });
        });
    </script>
</head>
<body class="w3-row">
<div class="w3-col s1" style="height:100px">
    <div class="navbar w3-col s1">
        <a href="/">
            <img th:src="@{/images/logo.png}"  class="w3-image" alt="Logo">
        </a>
        <div class="subnav">
            <div class="subnav-content">
                <a href="/">Home</a>
                <a href="/manager">Manager Home</a>
                <a href="/products">Products</a>
                <a href="/booking/bookinginfo">Bookings Information</a>
            </div>
        </div>
    </div>
</div>

<div class="w3-col s11 w3-container w3-cell-row" style="display: grid; width: 80%;">
    <h1>Contents of cart:</h1>
    <a href="#" onclick="history.go(-1)" class="w3-button w3-btn w3-col w3-round-medium" style="display: inline-block; width: 25%; background-color: rgba(255, 255, 255, 0.5); float:left;">Back</a>
    <table style="background-color: rgba(255, 255, 255, 0.5); border: none">
        <thead>
            <tr class="w3-card-2" style="text-align: left">
                <th style="width: 5%"></th>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="w3-card" th:each="mapEntry: ${cartMap}">
                <td>
                    <img src="" th:src="@{${'/images/product/' + mapEntry.getKey().getImage()}}" style="width: 100%; display: block">
                </td>
                <td th:unless="${mapEntry.getKey().getName() == null}" th:text="${mapEntry.getKey().getName()} + ' DKK'"></td>
                <td th:text = "${mapEntry.getValue()}"></td>
                <td th:text = "${mapEntry.getValue()} * ${mapEntry.getKey().getPrice()} + ' DKK'"></td>
            </tr>
            <tr class="w3-card-2" style="margin: 5%">
                <td></td>
                <td></td>
                <td></td>
                <td th:unless="${cart.size() == 0}" th:text="'Total: ' + ${total} + ' DKK'" style="padding: 2% 0 2% 0; font-weight: bold"></td>
            </tr>
        </tbody>
    </table>
    <div class="w3-row" style="margin: 5px">
        <a href="#" id="confirm" class="w3-button w3-btn w3-col" style="display: inline-block; width: 25%; background-color: rgba(30, 199, 75, 0.7); float:right; padding: 1%">Confirm</a>
    </div>
</div>
<div id="confirmModal" class="w3-modal">
    <form id="emptyCart" method="post" action="/products/cart/emptyCart">
    <div class="w3-modal-content w3-center" style="background-color: rgba(255, 255, 255, 0.7)">
        <h1 style="margin: 15% 0 15% 0; padding: 15% 0 15% 0">Purchase Confirmed!</h1>
    </div>
    </form>
</div>
</body>
</html>