<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" href="/css/background.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Create Activity</title>
</head>

<body>
<div class="w3-container w3-center">
    <img src="/images/logo.png" alt="Logo" style="width: 20%; height: 20%">
</div>
<div class="w3-container">
    <form action="/create" method="post">
        <div class = "w3-cell-row">
            <div class = "w3-container w3-cell">
                <div class="w3-margin w3-card">
                    <header class="w3-container w3-blue"><h2>New Activity</h2></header>
                    <ul class="w3-ul w3-light-grey">
                        <li>
                            <label>Name:</label>
                            <input class="w3-input" type="text"  th:field="${activity.name}" required>
                        </li>
                        <!--                        til tilføj billede implementation-->
                        <!--                        <li>-->
                        <input type="hidden" th:field="${activity.image}">
                        <!--                        </li>-->
                        <li>
                            <label>Description</label>
                            <textarea class="w3-input" rows="8" th:field="${activity.description}" style="resize: none"></textarea>
                    </ul>
                </div>
            </div>
            <div class = "w3-container w3-cell">
                <div class="w3-margin w3-card">
                    <header class="w3-container w3-blue"><h2>Rules</h2></header>
                    <ul class="w3-ul w3-light-grey">
                        <li>
                            <label>Age Limit:</label>
                            <input class="w3-input" type="number"  th:field="${rules.ageLimit}">
                        </li>
                        <li>
                            <label>Height Limit:</label>
                            <input class="w3-input" type="number"  th:field="${rules.heightLimit}">
                        </li>
                        <li>
                            <label>Capacity:</label>
                            <input class="w3-input" type="number"  th:field="${rules.maxCapacity}">
                        </li>
                        <li>
                            <label>Duration:</label>
                            <input class="w3-input" type="number"  th:field="${rules.duration}">
                        </li>
                    </ul>
                </div>
                <div class="w3-container w3-margin w3-center w3-cell-row">
                    <button type="submit" class="w3-margin w3-large w3-cell-middle w3-btn w3-round-large w3-blue" style="padding: 20px 80px;">Update</button>
                    <a href="/" class="w3-margin w3-large w3-cell-middle w3-btn w3-round-large w3-red" style="padding: 20px 40px;">Back</a>
                </div>
            </div>
            <div class="w3-container w3-cell">
                <div class="w3-margin w3-card">
                    <header class="w3-container w3-blue"><h2>Pricing</h2></header>
                    <ul class="w3-ul w3-light-grey">
                        <li>
                            <label>Standard Price:</label>
                            <input class="w3-input" type="number"  th:field="${pricing.standard}" required>
                        </li>
                        <li>
                            <label>Discount: (If Any)</label>
                            <input class="w3-input" type="number"  th:field="${pricing.discount}">
                        </li>
                        <li>
                            <label>Extra Charges: (If Any)</label>
                            <input class="w3-input" type="text" th:field="${pricing.extraInfo}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>