/* masonry.css */
.container
{
    width: 90%;
    margin: auto;
    float: right;
    padding: 10px;
    columns: 4;
    column-gap: 10px;
    text-align: left;
}
.container .box
{
    border-radius: 15px 50px 30px;
    /*width: 100%;*/
    margin: 0 0 10px;
    overflow: hidden;
    break-inside: avoid;
    /*background: #4CAF50;*/
    box-shadow: 9px 0 4px 0 rgba(0,0,0,.3);
    background-image: url("/images/box/boxbackground6.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container .box img {
    width: 100%;
    overflow: hidden;
}
.container .box h2
{
    padding: 2% 20%;
    width: 100%;
    margin: 0 0;
    font-size: 20px;
    /*backdrop-filter: blur(10px);*/
}
.container .box p
{
    margin: 0;
    font-size: 14px;
}
.container .box a
{
    text-decoration: none;
}
@media (max-width: 1200px)
{
    .container
    {
        width: 90%;
        margin: auto;
        float: right;
        columns: 3;
        /*width: calc(100% - 40px);*/
        box-sizing: border-box;
        /*padding: 20px 20px 20px 0;*/
    }
}
@media (max-width: 768px)
{
    .container
    {
        width: 90%;
        margin: auto;
        float: right;
        columns: 2;

    }
}
@media (max-width: 480px)
{
    .container
    {
        width: 90%;
        margin: auto;
        float: right;
        columns: 1;

    }
}