/* masonry.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #36b6d6;
    background-image: url('/images/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: initial;
}
.container
{
    width: 80%;
    margin: auto;
    padding: 10px;
    columns: 4;
    column-gap: 10px;
    justify-content: center;
    justify-items: center;
}
.container .box
{
    border-radius: 15px 50px 30px;
    width: 100%;
    margin: 0 0 10px;
    overflow: hidden;
    break-inside: avoid;
    /*background: #4CAF50;*/
    box-shadow: 8px 0px 7px 0px rgba(0,0,0,.3);
    background-image: url("/images/box/boxbackground6.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container .box a {
    text-decoration: none;
}
.container .box img
{
    max-width: 100%;
    overflow: scroll;
}
.container .box h2
{
    padding: 0;
    margin: 0 0;
    font-size: 20px;
    backdrop-filter: blur(10px);
}
.container .box p
{
    margin: 0;
    font-size: 14px;
}
.container .box a
{
    width: 100%
}
@media (max-width: 1200px)
{
    .container
    {
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}
@media (max-width: 768px)
{
    .container
    {
        columns: 2;

    }
}
@media (max-width: 480px)
{
    .container
    {
        columns: 1;

    }
}