<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link type="text/css" href="/css/background.css" rel="stylesheet">
    <link type="text/css" href="/css/product.css" rel="stylesheet">
    <link type="text/css" href="/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body class="w3-row">
    <div class="w3-col s1" style="height:100px">
        <div class="navbar w3-col s1">
            <a href="/manager/">
                <img th:src="@{/images/logo.png}"  class="w3-image" alt="Logo" src="">
            </a>
            <div class="subnav">
                <div class="subnav-content">
                    <a href="/">Home</a>
                    <a href="#" onclick="document.getElementById('createModal').style.display='block'">Add new equipment  <i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-col s11 w3-container w3-cell-row">
        <div class="w3-row">
            <div class="w3-col w3-container" style="width: 90%">
            <h3>Booking list</h3>
                <table id="myTable" class="w3-table w3-striped w3-bordered w3-hoverable w3-opacity-min">

                    <thead>
                    <tr class="w3-blue">
                        <!-- Table header with tiles -->
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Instructor</th>
                        <th>Phone nr.</th>
                        <th>Time</th>
                        <th>Activity name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <!-- table content -->
                    <tbody>
                        <tr th:each="book: ${booking}">
                            <form action="/booking/updateBooking">
                                <td th:text="${book.getId()}"></td>
                                <td th:text="${book.getAmount()}"></td>
                                <td th:text="${book.customerName}"></td>
                                <td th:text="${book.date}"></td>
                                <td th:text="${book.instructor}"></td>
                                <td th:text="${book.phoneNumber}"></td>
                                <td th:text="${book.time}"></td>
                                <td th:text="${book.getActivity().name}"></td>
                                <td>
                                    <a th:href="@{/booking/editBookingInfo(bookingId=${book.id})}" class="w3-btn w3-green">Update</a>
        <!--                            <button type="submit" href="" class="w3-btn w3-bar w3-blue-grey">Update</button>-->
                                </td>
                            </form>
                            <!--<td>
                            &lt;!&ndash; Trigger/Open The Modal &ndash;&gt;
                            <button th:onclick="'javascript:showFunctionModal();'" th:object="${book}"  id="myBtn">Open Modal</button>
                            &lt;!&ndash; The Modal &ndash;&gt;
                            <div id="openModal" class="modal">
                                <form action="#" th:action="@{/booking/updateBooking}" th:object="${book}" id="editForm" method="post">
                                &lt;!&ndash; Modal content &ndash;&gt;
                                <div class="modal-content">
                                    <input type="hidden" th:value="*{id}">
                                    <input type="hidden" th:value="*{activity}">
                                    <label>Customer Name</label>
                                        <input type="text" class="w3-input" th:value="*{customerName}">
                                    <label>Date</label>
                                        <input type="text" class="w3-input" th:value="*{date}">
                                    <label>Instructor</label>
                                        <input type="text" class="w3-input" th:value="*{instructor}">
                                    <label>Phone Number</label>
                                        <input type="text" class="w3-input" th:value="*{phoneNumber}">
                                    <label>Time</label>
                                        <input type="text" class="w3-input" th:value="*{time}">
                                    <label>Amount</label>
                                        <input type="text" class="w3-input" th:value="*{amount}">
                                    <input value="Save" type="submit" class="w3-btn w3-bar w3-blue-grey">
                                </div>
                                </form>
                            </div>
                            </td>-->

                            <td>
                                <form action="/booking/delete/" method="post">
                                    <input type="hidden" name="bookingId" th:value="${book.getId()}">
                                    <input value="Delete" type="submit" class="w3-btn w3-blue-grey">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable( {
            "pagingType": "full_numbers",
            "createdRow": function( row, data, dataIndex){
                if( data[7] ==  `Sumo Wrestling` ){
                    $(row).addClass('w3-yellow');
                } else if( data[7] ==  `Paintball` ) {
                    $(row).addClass('w3-light-blue');
                } else if( data[7] ==  `Minigolf` ) {
                    $(row).addClass('w3-light-green');
                } else if( data[7] ==  `GoKart` ) {
                    $(row).addClass('w3-red');
                }
            }
        });
    });
</script>
<script>
    function showFunctionModal() {
        $(document).ready(function () {
            document.getElementById('openModal').style.display = "block";
            var x = $("#myBtn").attr("object");
            console.log(x.id);
            $("#editForm").attr("object", x);
        });
    }
</script>
</body>
</html>