<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../javascript/newBooking.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    getActivity([[${id}]])
</script>
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body class="w3-center">
    <form action="/booking/create" method="post">
        <div class="row w3-center" style="margin-top:25px;">

            <div class="w3-col s6 w3-container w3-left-align">
                <div class="w3-card-4 w3-round-xlarge w3-light-grey w3-text-blue">
                    <h2 class="w3-card w3-blue w3-center" style="margin: 0;">Activity</h2>
                    <div class="w3-row">
                        <div class="w3-rest">
                            <select class="w3-select w3-border" name="activityId" onChange="getActivity(this.value)">
                                <option selected disabled>Change Activity</option>
                                <th:block th:each="name:${nameAndId.keySet()}">
                                    <option th:value="${nameAndId.get(name)}" th:text="${name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="w3-row w3-section w3-container">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                        <div class="w3-rest"><input class="w3-input w3-border" name="instructor" type="text" placeholder="instructor" /></div>
                    </div>
                    <table class="w3-table-all">
                        <h3 class="w3-card w3-center w3-blue" id="name" style="margin: 0px;"></h3>
                        <tr>
                            <td><strong>Minimum Age:</strong></td>
                            <td><span id="age"></span></td>
                        </tr>
                        </tr>
                        <tr>
                            <td><strong>Minimum Height:</strong></td>
                            <td><span id="height"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Duration:</strong></td>
                            <td><span id="duration"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Maximum Capacity:</strong></td>
                            <td><span id="capacity"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Price 0-10 Persons:</strong></td>
                            <td><span id="standardPrice"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Price 10+ Persons: </strong></td>
                            <td><span id="discount"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Available Equipment: </strong></td>
                            <td><span id="availableEquipment"></span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="w3-col s6 w3-container">
                <div class=" w3-card-4 w3-row">
                    <h2 class="w3-card w3-blue w3-center" style="margin: 0;">Customer Info</h2>
                    <div class="w3-container w3-light-grey w3-text-blue">
                        
                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                            <div class="w3-rest"><input class="w3-input w3-border" name="customerName" type="text" placeholder="Name" /></div>
                        </div>

                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-home"></i></div>
                            <div class="w3-rest"><input class="w3-input w3-border" name="address" type="text" placeholder="Address"/></div>
                        </div>

                        <div class="w3-row w3-section"> 
                            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
                            <div class="w3-rest"><input class="w3-input w3-border" name="phoneNumber" type="text" placeholder="Phone Number"/></div>
                        </div>

                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-users"></i></div>
                            <div class="w3-rest"><input class="w3-input w3-border" name="amount" type="number" placeholder="Participants"/></div>
                        </div>
                    </div>
                </div>

                <div class="w3-card-4 w3-row s4" style="margin-top:25px;">
                    <h2 class="w3-card w3-blue w3-center" style="margin: 0;">Date & Time</h2>
                    <div class="w3-container w3-light-grey w3-text-blue">
                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-calendar"></i></div>
                            <div class="w3-rest"><input class="w3-input w3-border" name="date" type="date" /></div>
                        </div>

                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-clock-o"></i></div>
                            <div class="w3-rest"><input class="w3-input w3-border" name="time" type="time"/></div>
                        </div>
                    </div>
                </div>
                <div class="row w3-margin w3-center">
                    <input type="submit" class="w3-button w3-btn w3-green w3-margin w3-card w3-round-large col" value="Create Booking">
                    <input type="submit" class="w3-button w3-btn w3-blue w3-margin w3-card w3-round-large col" value="Back">
                </div>

            </div>
        </div>
    </form>

</body>
</html>