<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <form>
        <div>
            <label>Name</label>
            <input name="name" type="text"/>

            <label>Address</label>
            <input name="address" type="text"/>

            <label>Phone Number</label>
            <input name="phoneNr" type="text"/>

            <label>Instructor</label>
            <input name="instructor" type="text"/>

            <label>Month</label>
            <input name="date" type="date"/>

            <label>Time</label>
            <input name="time" type="time"/>
        </div>
    </form>

</body>
</html>