<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Equipment</title>
    <script>
        function showFunctionModal(id) {
            $(document).ready(function () {
                document.getElementById('deleteModal').style.display = "block";
                $("#delRef").attr("href", "/activity/equipment/delete?id=" + id);
            });
        }
    </script>
</head>
<body style="background-image: url('/images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover">
    <div class="w3-auto">
        <div id="deleteModal" class="w3-modal">
            <div class="w3-modal-content w3-center" style="width: 15%; top: 30%">
                <header class="w3-container w3-teal">
                    <h2>Are you sure?</h2>
                </header>
                <div class="w3-container w3-bar">
                    <a href="#" id="delRef" class="w3-bar-item w3-btn w3-red">Yes, delete</a>
                    <a class="w3-bar-item w3-btn w3-grey" onclick="document.getElementById('deleteModal').style.display='none'">Cancel</a>
                </div>
            </div>
        </div>
        <div class="w3-container w3-center">
            <img src="/images/logo.png" alt="Logo" style="width: 15%; height: 25%">
        </div>
        <div class="w3-container">
            <a class="w3-btn w3-green">Add new equipment</a>
            <table class="center">
                <thead>
                <tr>
                    <!-- Table header with tiles -->
                    <th style="padding:0 15px 0 15px;">Name</th>
                    <th style="padding:0 15px 0 15px;">ID</th>
                    <th style="padding:0 15px 0 15px;">Available</th>
                    <th style="padding:0 15px 0 15px;">Comment</th>
                </tr>
                </thead>
                <!-- table content -->
                <tbody>
                <tr th:each="equip: ${equipment}" style="padding:0 15px 0 15px;">
                    <td th:text="${equip.name}" style="padding:0 15px 0 15px;"></td>
                    <td th:text="${equip.getId()}" style="padding:0 15px 0 15px;"></td>
<!--                    <td th:text="'Available: ' + ${equip.available} ? '0' : 'YES'"></td>-->
                    <td style="padding:0 15px 0 15px;">
                        <p th:if="${equip.available == false}">no</p>
                        <p th:unless="${equip.available == false}">yes</p>
                    </td>
                    <td th:text="'comment: ' + ${equip.comment}" style="padding:0 15px 0 15px;"></td>
                    <td style="padding:0 15px 0 15px;">
                        <a th:href="@{/activity/equipment/updateStatus(activityId=${equip.getActivity().id}, equipmentId=${equip.id})}" class="w3-btn w3-green">Change status</a>
                    </td>
                    <td style="padding:0 15px 0 15px;">
                        <a href="#" th:onclick="'javascript:showFunctionModal(\'' + ${equip.id} +'\');'" id="deleteButton" class="w3-btn w3-red">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>