<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-image: url('/images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover">
<div class="w3-auto">
    <div class="w3-container w3-center">
        <img src="/images/logo.png" alt="Logo" style="width: 20%; height: 20%">
    </div>
    <div class="w3-container">
        <div class="w3-row-padding">
            <div th:each="activity: ${activities}" class="w3-third">
                <div class="w3-panel w3-round-xxlarge w3-yellow">
                    <div class="w3-row w3-panel">
                        <img src="" th:src="@{${'/images/' + activity.image}}" class="w3-round w3-image" alt="Missing image">
                    </div>
                    <div class="w3-row w3-panel">
                        <div class="w3-container">
                            <h3 th:unless="${activity.name == null}" th:text="${activity.name}"></h3>
                            <h3 th:if="${activity.name == null}" th:text="Missing Name"></h3>
                            <p th:unless="${activity.getRules().ageLimit == null}" th:text="'Age requirement: ' + ${activity.getRules().ageLimit}"></p>
                            <p th:unless="${activity.getRules().heightLimit == null}" th:text="'Height requiment: ' + ${activity.getRules().heightLimit}"></p>
                            <p th:unless="${activity.getRules().duration} == null" th:text="'Duration: ' + ${activity.getRules().duration}"></p>
                            <p th:unless="${activity.getRules().maxCapacity} == null" th:text="'Max capacity: ' + ${activity.getRules().maxCapacity}"></p>
                            <p th:unless="${activity.getPricing().standard} == null" th:text="'Price for 0-10 persons: ' + ${activity.getPricing().standard}"></p>
                            <p th:unless="${activity.getPricing().discount == null}" th:text="'Price for 10+ persons: ' + ${activity.getPricing().discount}"></p>
                            <p th:text="'Available equipment: ' + ${activity.availableEquipment()} + '/' + ${activity.getEquipment().size()}"></p>

<!--                            <p th:if="${activity.getRules().ageLimit == null}" >&nbsp;</p>-->
<!--                            <p th:if="${activity.getRules().heightLimit == null}" >&nbsp;</p>-->
<!--                            <p th:if="${activity.getRules().duration == null}" >&nbsp;</p>-->
<!--                            <p th:if="${activity.getRules().maxCapacity == null}" >&nbsp;</p>-->
<!--                            <p th:if="${activity.getPricing().standard == null}" >&nbsp;</p>-->
<!--                            <p th:if="${activity.getPricing().discount == null}" >&nbsp;</p>-->
<!--                            <p th:if="${activity.getPricing().discount == null}">&nbsp;</p>-->

                            <a th:href="@{/activity/{id}/equipment(id=${activity.id})}" class="w3-btn w3-green">View equipment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>