<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="/css/background.css" rel="stylesheet">
    <link type="text/css" href="/css/masonry.css" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif">
<div class="navbar">
    <a href="/">
        <img th:src="@{/images/logo.png}" alt="Logo">
    </a>
    <div class="subnav">
        <div class="subnav-content">
            <a href="/">Home</a>

        </div>
    </div>
</div>
<div class="container">
    <div th:each="activity: ${activities}" class="box w3-col">

        <img src="" th:src="@{${'/images/' + activity.image}}" alt="Missing image">
            <h2 th:unless="${activity.name == null}" th:text="${activity.name}"></h2>
            <h2 th:if="${activity.name == null}" th:text="Missing Name"></h2>
            <div style="padding: 2% 20% 5%">
                <p th:unless="${activity.getRules().ageLimit == null}" th:text="'Age requirement: ' + ${activity.getRules().ageLimit}"></p>
                <p th:unless="${activity.getRules().heightLimit == null}" th:text="'Height requiment: ' + ${activity.getRules().heightLimit}"></p>
                <p th:unless="${activity.getRules().duration} == null" th:text="'Duration: ' + ${activity.getRules().duration}"></p>
                <p th:unless="${activity.getRules().maxCapacity} == null" th:text="'Max capacity: ' + ${activity.getRules().maxCapacity}"></p>
                <p th:unless="${activity.getPricing().standard} == null" th:text="'Price for 0-10 persons: ' + ${activity.getPricing().standard}"></p>
                <p th:unless="${activity.getPricing().discount == null}" th:text="'Price for 10+ persons: ' + ${activity.getPricing().discount}"></p>
                <p th:text="'Available equipment: ' + ${activity.availableEquipment()} + '/' + ${activity.getEquipment().size()}"></p>
                <div class="w3-row">
                    <a th:href="'/booking/book?id=' + ${activity.id}"><button class="w3-button w3-btn w3-light-blue w3-half w3-col">Book</button></a>
                    <a th:href="@{/activity/{id}/equipment(id=${activity.id})}"><button class="w3-button w3-btn w3-light-green w3-half w3-col">Edit</button></a>
                </div>
            </div>
<!--        <a th:href="@{/activity/{id}/equipment(id=${activity.id})}" class="w3-btn" style="width: 100%; height: 10%; backdrop-filter: blur(5px)">-->
<!--            <div>-->
<!--                View equipment-->
<!--            </div>-->
<!--        </a>-->
    </div>
</div>
</body>
</html>