<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-image: url('/images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover">
<div class="w3-auto">
    <div class="w3-container w3-center">
        <img src="/images/logo.png" alt="Logo" style="width: 15%; height: 15%">
    </div>
    <a th:href="@{/booking/bookinginfo}" class="w3-btn w3-bar w3-blue-grey">Booking info</a>
    <div class="w3-container">

        <div class="w3-row-padding">
            <div th:each="activity: ${activities}" class="w3-col s4 w3-panel">
                <div class="w3-pale-yellow w3-card w3-round-xlarge w3-ul">
                    <header class="w3-row">
                        <img src="" th:src="@{${'/images/' + activity.image}}" class="w3-image" alt="Missing image">
                    </header>
                    <div>
                        <h3 class="w3-card w3-center w3-blue" style="margin-top: 0px;" th:text="${activity.name}"></h3>
                        <li th:if="${activity.getRules().ageLimit} != null">
                            <span class="">Min. age:</span>
                            <span th:text="${activity.getRules().ageLimit}"></span>
                        </li>
                        <li th:if="${activity.getRules().heightLimit} != null">
                            <span>Min. height:</span>
                            <span th:text="${activity.getRules().heightLimit}"></span>
                        </li>
                        <li th:if="${activity.getRules().duration} != null">
                            <span>Duration:</span>
                            <span th:text="${activity.getRules().duration}"></span>
                        </li>
                        <li  th:if="${activity.getRules().maxCapacity} != null">
                            <span>Max capacity:</span>
                            <span th:text="${activity.getRules().maxCapacity}"></span>
                        </li>
                        <li th:if="${activity.getPricing()?.standard} != null">
                            <span>Price 0-10 persons:</span>
                            <span th:text="${activity.getPricing()?.standard}"></span>
                        </li>
                        <li th:if="${activity.getPricing()?.discount} != null">
                            <span>Price 10+ persons: </span>
                            <span th:text="${activity.getPricing()?.discount}"></span>
                        </li>
                        <li th:if="${activity.availableEquipment()} != null">
                            <span>Available Equipment</span>
                            <span th:text="${activity.availableEquipment()} + '/' + ${activity.getEquipment()?.size()}"></span>
                        </li>
                        <a th:href="'/edit?id=' + ${activity.getId()}" class="w3-btn w3-bar w3-blue-grey" style="width: 100%;">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>