<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" href="/css/background.css" rel="stylesheet">
<link type="text/css" href="/css/navbar.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="javascript/bookingDisplay.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>

<body class="w3-row">
    <div class="w3-col s1" style="height:100px"></div>
    <div class="navbar w3-col s1">
        <a href="/">
                <img th:src="@{/images/logo.png}" class="w3-image" alt="Logo">
            </a>
        <b>
            <div class="subnav">
                <div class="subnav-content">
                    <a href="/">Home</a>
                    <a href="/manager/">Manager Home</a>
                    <a href="/booking/bookinginfo">Booking Information</a>
                    <a href="/manager/products/">Edit Products</a>
                </div>
            </div>
        </b>
    </div>

    <div class="w3-col s11">
        <div class="w3-container w3-center w3-row">
            <img src="/images/logo.png" alt="Logo" style="width: 15%; height: 25%">
        </div>
        <div class="w3-row">
            <nav class="w3-bar w3-blue w3-row">
                <button th:each="dayStatistic : ${statistics}" class="w3-bar-item w3-button" th:text="${dayStatistic.getDate().getDayOfWeek().toString()}" onclick="showTable(this)"></button>
            </nav>
            <div class="w3-row w3-card-4">
                <div th:each="dayStatistic : ${statistics}"  style="display:none" th:id="${dayStatistic.getDate().getDayOfWeek().toString()}" class="table w3-animate-left w3-half">
                    <div class="w3-center w3-round-large">
                        <h2 class="w3-blue w3-container" th:text="${dayStatistic.getDate().getDayOfWeek().toString()} + '  (' + ${dayStatistic.getDate().getMonth().name()} + ' ' +${dayStatistic.getDate().getDayOfMonth()} +')'" style="margin-bottom:0"></h2>
                        <table class="w3-table w3-bordered w3-striped w3-white w3-hoverable">
                            <thead>
                            <tr class="w3-blue">
                                <!-- Table header with tiles -->
                                <th>Activity</th>
                                <th>Bookings</th>
                                <th>Equipment Used</th>
                                <th>Broken Equipment</th>
                                <th>Total Equipment</th>
                            </tr>
                            </thead>
                            <!-- table content -->
                            <tbody>
                                <tr th:each="activity : ${dayStatistic.bookingsByActivity.keySet()}">
                                    <td style="border-right: solid 1px"><b th:text="${activity.name}"></b></td>
                                    <td th:text="${dayStatistic.bookingsByActivity.get(activity).size()}"></td>
                                    <td th:text="${dayStatistic.equipmentUsed.get(activity)}"></td>
                                    <td th:text="${activity.equipment.size()} - ${activity.availableEquipment()}"></td>
                                    <td th:text="${dayStatistic.bookingsByActivity.get(activity).size()} * ${activity.equipment.size()}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w3-half">
                    <div class="w3-center w3-round-large">
                        <h2 class="w3-blue w3-container" style="margin-bottom:0"> Total</h2>
                        <table class="w3-table w3-bordered w3-striped w3-white w3-hoverable">
                            <thead>
                            <tr class="w3-blue">
                                <!-- Table header with tiles -->
                                <th>Activity</th>
                                <th>Bookings</th>
                                <th>Equipment Used</th>
                                <th>Broken Equipment</th>
                                <th>Total Equipment</th>
                            </tr>
                            </thead>
                            <!-- table content -->
                            <tbody>
                            <tr th:each="activity : ${total.bookingsByActivity.keySet()}">
                                <td style="border-right: solid 1px"><b th:text="${activity.name}"></b></td>
                                <td th:text="${total.bookingsByActivity.get(activity).size()}"></td>
                                <td th:text="${total.equipmentUsed.get(activity)}"></td>
                                <td th:text="${activity.equipment.size()} - ${activity.availableEquipment()}"></td>
                                <td th:text="${total.bookingsByActivity.get(activity).size()} * ${activity.equipment.size()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>